@page "/pages/settings/incometypelist"
@inject HttpClient Http
@inject MudBlazor.ISnackbar snackBar
@inject IDialogService DialogService

@*<h3>IncomeTypeList</h3>*@

<MudTable Height="500px" Items="@incometypes" Dense=true Filter="new Func<IncomeType, bool>(Search)">
     <ToolBarContent>
        <MudText Typo="Typo.h6">List of Income Types ...</MudText>
        <MudSpacer />
        <MudTextField @bind-Value="searchString" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
    </ToolBarContent>
    <HeaderContent>
        <MudTh>Name</MudTh>
    </HeaderContent>
     <RowTemplate>
         <MudTd DataLabel="Name">@context.Name</MudTd>
         <MudTd DataLabel="">
            <MudFab Link=@link @onclick="@(()=>Edit(@context.Id))" Color="Color.Primary" Icon="@Icons.Material.Filled.Edit" Size="Size.Small" IconSize="Size.Small"  />
            <MudFab @onclick="@(()=>Delete(@context.Id))" Color="Color.Secondary" Icon="@Icons.Material.Filled.Delete" Size="Size.Small" IconSize="Size.Small" />
        </MudTd>
     </RowTemplate>
</MudTable>


@code {
    private List<IncomeType> incometypes = new List<IncomeType>();

    private IncomeType incometype = null;
    private string searchString = "";
    private string link;
     private Ganesh.Expenses.Web.Client.Services.IExpensesService<IncomeType> expensesService;
    private Ganesh.Expenses.Web.Client.Services.IServiceParameter serviceParameter;
    protected override async Task OnInitializedAsync()
    {
        expensesService = new Ganesh.Expenses.Web.Client.Services.ExpensesService<IncomeType>(Http);
        serviceParameter = new Ganesh.Expenses.Web.Client.Services.ServiceParameter("api/incometypes");
        await Getincometypes();
    }

    private bool Search(IncomeType incometype)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (incometype.Name.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        return false;
    }
     private void Edit(int id)
    {
        link = $"/pages/settings/editincometype/{id}";
        incometype = incometypes.FirstOrDefault(c => c.Id == id);
    }
    private async Task Delete(int id)
    {
        bool proceed = await PageHelper.ShowConfirmationDialog(DialogService, "Delete","Do you really want to delete these records? This process cannot be undone.",Color.Error, "Delete");
        if(proceed==false)
        {
            return;
        }
        await expensesService.DeleteItem(id, serviceParameter);
        snackBar.Add("Income Type Deleted.", Severity.Success);
        await Getincometypes();
    }
    private async Task<List<IncomeType>> Getincometypes()
    {
        incometypes = await expensesService.GetList(serviceParameter);
        return incometypes;
    }
}
